*{
	margin: 0;
	padding: 0;
}

body{
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #342c3c;
}

/*styling the container*/
.container{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}


.container .time{
	height: 150px;
	padding: 0px 15px;
	background-color: black;
	display: flex;
	align-items: center;
	color: white;
	justify-content: center;
	border: 4px solid #e8e8f1;
	border-radius: 15px;
}

/*styling of heading*/
h1{
	width: 70%;
	text-align: center;
	margin-bottom: 15px;
	background-color: #90a4ae;
}

/*this is to style the inner spans of class time */
.container .time span{
	width: 100px;
	text-align: center;
	font-size: 70px;
	font-weight: 400;
}

.container .buttons{
	text-align: center;
	background-color: whitesmoke;
	border-radius: 5px;
	border: 3px solid black;
}
/*styling of the buttons*/
.buttons button{
	padding: 5px 15px;
	outline: none;
	border: none;
	margin: 4px 5px;
    background-color: black;
    color: white;
	cursor: pointer;
	border-radius: 4px;
	font-size: 20px;
	font-weight: 200;
}
/*styling of the buttons when hover*/
button:hover{
	margin: 1px 2px;
	background-color: gray;
	border: 3px solid black;
}

/*this will run when the start button is clicked*/
.buttons button.active{
	cursor: not-allowed;
	opacity: 0.8;
}

/*this will run when the stop button is clicked*/
.buttons button.stopActive{
	cursor: not-allowed;
	opacity: 0.8;
}
